/* Extra small devices (phones, 600px and down) */
@media(max-width:600px) {



    nav{
        box-shadow: var(--shadow);
        position: sticky;
        position: -webkit-sticky;
        inset: 0;
    }
    nav .container{
        width: 90%;
   
    }
    .nav-list{
        flex-direction: column;
        position: absolute;
        background-color: var(--blackLight);
        width: 100%;
        top: 80px;
        padding-block: 1rem;
        left: -100%;
        opacity: 0;
        transition: left 300ms ease-in;
        transition-delay: left 100ms ease;
    }
    .nav-list.active{
        left: 0;
        opacity: 1;
    }

    .list-item{
        color: var(--whiteDark);
        font-size: var(--subtitle1);
        font-weight: 300;
      
        margin-left: 1em;
    }
    .mobile-menu{
        display: block;
    }


.mobile-menu .closeMenu{
    display: none;
}

.closeMenu.active{
    display: block;
}

.openMenu.active{
    display: none;
}


/*================================== hero section ===============================================  */

header .container {
    flex-direction: column-reverse;
}

.header-image{
    width: 100%;
    
}

.header-info{
    width: 100%;
}
.header-title{
    font-size: var(--h5);
    text-align: center;
    line-height: 140%;
    letter-spacing: 1px;
}
.header-subtitle{
    text-align: center;
    font-size: var(--subtitle2);
    width: 95%;
    margin: 0 auto;
}
.header-btns{
    justify-content: center;

}
.header-btns button{
    width: 140px;
    font-size: var(--caption);
}
/*================================== hero section ===============================================  */
/*================================== service section ===============================================  */
.card-title{
    font-size: var(--subtitle2);
}
/*================================== service section ===============================================  */
/*================================== work section ===============================================  */


.edu-col{
    width: 100%;
}

.subject{
    font-size: 0.5rem;
}
/*================================== work section ===============================================  */
/*================================== testimonial section ===============================================  */
.testimonial-card{
    flex-direction: column;
}
.testimonial-card img{
    width: 100%;
}
.testimonial-quote{
    width: 100%;
}
.testimonial-quote h5{
    line-height: 100%;
    font-size: var(--subtitle1);
    padding-block: 0.5em;
}
.swiper-button-next{
    top: 95%;
}
.swiper-button-prev{
    left: 75%;
    top: 95%;
}

/*================================== testimonial section ===============================================  */
/*================================== footer section ===============================================  */
.footer-header{width: 90%;}

.footer-header h1{
    font-size: var(--h6);
 
}
.footer-header h2{
    font-size: var(--h6);
    padding-top: 0.3em;
}
.footer-content{
    width: 90%;
}
.footer-logo{
    font-size: var(--subtitle2);
}
.portfolio-address,.footer-mail{
    font-size: 0.680rem;

}

.footer-list{
    padding-top: 2em;
}
.footer-list li{
    font-size: var(--caption);
}
/*================================== footer section ===============================================  */


}
